body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #555;
}
.logo {
    width: 100px; /* Adjust as needed */
    margin-bottom: 20px; /* Spacing between logo and links */
    transition: transform 0.3s; /* Transition effect */
}
.content {
    margin-left: 220px; /* Adjust based on nav width */
    padding: 20px;
    text-align: center;
}
.profile-details {
    text-align: left;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-button:hover {
    background-color: #555;
}
